<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vertical Tabs Form</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <script src="https://unpkg.com/naja@2/dist/Naja.min.js"></script>
    <!-- Custom CSS -->
    <style>
        .nav-link {
            text-align: left;
        }



    </style>


</head>
<body>
<div class="container-fluid">

{snippet results}
    Criteria: {$criteria}
    {if $results}
        <br>
    <div class="alert alert-primary" role="alert">
        Total results: {$results['hits']['total']['value']}
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Název</th>
            <th scope="col">Založeno</th>
            <th scope="col">Popis</th>
            {*<th scope="col">Vozidla</th>*}
        </tr>
        </thead>
        {dump}
        <tbody>
        {foreach $results['hits']['hits'] as $hit}
        <tr>
            <th scope="row">{$hit['_source']['uniqueId']}</th>
            <td>{ifset $hit['_source']['basicInfo']['name']}{$hit['_source']['basicInfo']['name']}{/ifset}</td>
            <td>{ifset $hit['_source']['basicInfo']['establishedAt']}{$hit['_source']['basicInfo']['establishedAt']|date:'d.m.Y'}{/ifset}</td>
            <td>{ifset $hit['_source']['selfDescription']['value']}{$hit['_source']['selfDescription']['value']|truncate:100}{/ifset}</td>
            {*<td>{ifset $hit['_source']['childrenText']}{foreach $hit['_source']['childrenText'] as $vehicle}{$vehicle}{sep}<br>{/sep}{/foreach}{/ifset}</td>*}
        </tr>
        {/foreach}
        </tbody>

    </table>
    {/if}
{/snippet}
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<!-- Custom script to initialize datepicker -->
<script>
    // Initialize the datepicker for registration dates
    var registrationFrom = document.getElementById('registration-from');
    var registrationTo = document.getElementById('registration-to');

    // Replace 'yyyy-mm-dd' with your desired date format
    var datepickerOptions = {
        format: 'yyyy-mm-dd',
        // Add any other options you need for the datepicker
    };

    // Initialize the datepicker on the 'Registrace od' input
    var registrationFromDatepicker = new bootstrap.Datepicker(registrationFrom, datepickerOptions);

    // Initialize the datepicker on the 'Registrace do' input
    var registrationToDatepicker = new bootstrap.Datepicker(registrationTo, datepickerOptions);
</script>
</body>
</html>

