<form action="{link search!}" method="post" class="ajax">
    <div class="row">
        <div class="col-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
                <span class="navbar-brand mb-0 h1">Najít společnosti podle kritérií</span>

                <input class="form-control me-2" type="search" name="fulltext" value="{$searchQuery}" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success ajax" type="submit">Search</button>

            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <div class="nav flex-column nav-pills" id="v-tabs" role="tablist" aria-orientation="vertical">
                <button class="nav-link active" id="section1-tab" data-bs-toggle="pill" data-bs-target="#section1" type="button" role="tab" aria-controls="section1" aria-selected="true">Základní kritéria</button>
                <button class="nav-link" id="section2-tab" data-bs-toggle="pill" data-bs-target="#section2" type="button" role="tab" aria-controls="section2" aria-selected="false">Magické štítky</button>
                <button class="nav-link" id="section3-tab" data-bs-toggle="pill" data-bs-target="#section3" type="button" role="tab" aria-controls="section3" aria-selected="false">Moje seznamy</button>
                <button class="nav-link" id="section4-tab" data-bs-toggle="pill" data-bs-target="#section4" type="button" role="tab" aria-controls="section4" aria-selected="false">Obchodní indikátory</button>
                <button class="nav-link" id="section5-tab" data-bs-toggle="pill" data-bs-target="#section5" type="button" role="tab" aria-controls="section5" aria-selected="false">Odvětví</button>
                <button class="nav-link" id="section6-tab" data-bs-toggle="pill" data-bs-target="#section6" type="button" role="tab" aria-controls="section6" aria-selected="false">Vlastnictví</button>
                <button class="nav-link" id="section7-tab" data-bs-toggle="pill" data-bs-target="#section7" type="button" role="tab" aria-controls="section7" aria-selected="false">Dostupné kontakty</button>
                <button class="nav-link" id="section8-tab" data-bs-toggle="pill" data-bs-target="#section8" type="button" role="tab" aria-controls="section8" aria-selected="false">Vozidla: první registrace</button>
                <button class="nav-link" id="section9-tab" data-bs-toggle="pill" data-bs-target="#section9" type="button" role="tab" aria-controls="section9" aria-selected="false">Náborová aktivita</button>
                <button class="nav-link" id="section10-tab" data-bs-toggle="pill" data-bs-target="#section10" type="button" role="tab" aria-controls="section10" aria-selected="false">Provozovny</button>
                <button class="nav-link" id="section11-tab" data-bs-toggle="pill" data-bs-target="#section11" type="button" role="tab" aria-controls="section11" aria-selected="false">Finance</button>
                <button class="nav-link" id="section12-tab" data-bs-toggle="pill" data-bs-target="#section12" type="button" role="tab" aria-controls="section12" aria-selected="false">Osobní kontakty</button>
            </div>
            <div class="form-section mt-5">
                <button type="submit" class="btn btn-primary ml-4 ajax">Search</button>
                <button type="submit" name="export" value="export" class="btn btn-danger ml-4 ajax">Export</button>
                <button type="submit" name="save" value="save" class="btn btn-danger ml-4 ajax">Save</button>
            </div>
        </div>
        <div class="col-9">
            <div class="tab-content" id="v-tabs-content">
                <div class="tab-pane fade show active" id="section1" role="tabpanel" aria-labelledby="section1-tab">
                    <h4>Základní kritéria</h4>

                    <div class="form-section col-md-6">
                        <h5 class="mt-1">Lokalita</h5>
                        <select id="locality" class="form-select" multiple name="basicInfo_address_localityCodes[]">
                            {foreach $enums['localities'] as $key => $value}
                            <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>

                    <div class="form-section col-md-6">
                        <h5 class="mt-2" for="employees">Počet zaměstnanců</h5>

                        <div class="form-section">
                            <div class="row">
                                <div class="col">
                                    <label for="min-employees">Min</label>
                                    <input name="metrics_metricEmployeesCountCategoryCode[min]" type="number" class="form-control" id="min-employees" >
                                </div>
                                <div class="col">
                                    <label for="max-employees">Max</label>
                                    <input name="metrics_metricEmployeesCountCategoryCode[max]" type="number" class="form-control" id="max-employees">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-section col-md-6">
                        <h5 class="mt-2"> Obrat v milionech</h5>
                        <div class="form-section">
                            <div class="row ">
                                <div class="col">
                                    <label for="min-revenue">Min</label>
                                    <input name="metrics.metricBalanceTotal[min]" type="number" class="form-control" id="min-revenue" >
                                </div>
                                <div class="col">
                                    <label for="max-revenue">Max</label>
                                    <input name="metrics.metricBalanceTotal[max]" type="number" class="form-control" id="max-revenue">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-section form-check mt-2">
                        <input id="watched" type="checkbox" class="form-check-input">
                        <label name="companies_watched" class="form-check-label" for="watched">Sledované firmy</label>
                    </div>

                    <div class="form-section form-check mt-2">
                        <input id="notes" type="checkbox" class="form-check-input">
                        <label name="companies_with_notes" class="form-check-label" for="notes">Společnosti s poznámkou</label>
                    </div>

                    <div class="form-section col-md-6">
                        <h5 class="mt-2">Právní norma</h5>
                        <select name="basicInfo_legalFormCodes[]" id="legal-norm" class="form-select" multiple>
                            {foreach $enums['legal_forms'] as $key => $value}
                                <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>

                    <div class="form-section mt-2">
                        <h5 for="company-age">Stáří firmy</h5>
                        <div class="form-section">
                            <div class="row col-md-4">
                                <div class="col">
                                    <label for="min-revenue">Min</label>
                                    <input name="basicInfo_establishedAt[min]" type="number" class="form-control" id="min-age" >
                                </div>
                                <div class="col">
                                    <label for="max-revenue">Max</label>
                                    <input name="basicInfo_establishedAt[max]" type="number" class="form-control" id="max-age">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="section2" role="tabpanel" aria-labelledby="section2-tab">
                    <h4>Magické štítky</h4>
                    <div class="form-section col-md-6">
                        <h5 class="mt-2">S magickým štítkem</h5>
                        <select id="magical-label" class="form-select" multiple>
                            <option selected>Rodinná firma</option>
                            <option>Ženy ve vedení</option>
                            <option>Tesla registrace</option>
                        </select>
                    </div>

                    <div class="form-section col-md-6">
                        <h5 class="mt-2">Bez magických štítků</h5>
                        <select id="non-magical-label" class="form-select" multiple>
                            <option selected>Rodinná firma</option>
                            <option>Ženy ve vedení</option>
                            <option>Tesla registrace</option>
                        </select>
                    </div>

                </div>
                <div class="tab-pane fade" id="section3" role="tabpanel" aria-labelledby="section3-tab">
                    <h4>Moje seznamy</h4>
                    <div class="form-section col-md-6">
                        <h5 class="mt-2">Zahrnout seznam</h5>
                        <select name="list_include[]" id="include-list" class="form-select" multiple>
                            <option value="my-list1">my-list1</option>
                            <option value="my-list2">my-list2</option>
                        </select>
                    </div>

                    <div class="form-section col-md-6">
                        <h5 class="mt-2">Vyloučit seznam</h5>
                        <select name="list_exclude[]" id="exclude-list" class="form-select" multiple>
                            <option value="my-list1">my-list1</option>
                            <option value="my-list2">my-list2</option>
                        </select>
                    </div>

                </div>
                <div class="tab-pane fade" id="section4" role="tabpanel" aria-labelledby="section4-tab">
                    <h4>Obchodní indikátory</h4>
                    <div class="form-section col-md-6">
                        <h5>Rizikový indikátor</h5>
                        <select id="risk-indicator" class="form-select" multiple>
                            {foreach $enums['risk_types'] as $key => $value}
                                <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5>Indikátor aktivity</h5>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorActivity[]" class="form-check-input" type="checkbox" id="activity-indicator1" value="80">
                            <label class="form-check-label" for="activity-indicator1">Velmi vysoká</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorActivity[]" class="form-check-input" type="checkbox" id="activity-indicator2" value="60">
                            <label class="form-check-label" for="activity-indicator2">Vysoká</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorActivity[]" class="form-check-input" type="checkbox" id="activity-indicator3" value="40">
                            <label class="form-check-label" for="activity-indicator3">Průměrná</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorActivity[]" class="form-check-input" type="checkbox" id="activity-indicator4" value="20">
                            <label class="form-check-label" for="activity-indicator4">Podprůměrná</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorActivity[]" class="form-check-input" type="checkbox" id="activity-indicator5" value="0">
                            <label class="form-check-label" for="activity-indicator5">Neaktivní</label>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5>Indikátor dostupnosti</h5>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorReachability[]" class="form-check-input" type="checkbox" id="availability-indicator1" value="80">
                            <label class="form-check-label" for="availability-indicator1">Velmi dobrá</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorReachability[]" class="form-check-input" type="checkbox" id="availability-indicator2" value="60">
                            <label class="form-check-label" for="availability-indicator2">Dobrá</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorReachability[]" class="form-check-input" type="checkbox" id="availability-indicator2" value="40">
                            <label class="form-check-label" for="availability-indicator2">Standardní</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorReachability[]" class="form-check-input" type="checkbox" id="availability-indicator2" value="20">
                            <label class="form-check-label" for="availability-indicator2">Spíše nedostupná</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorReachability[]" class="form-check-input" type="checkbox" id="availability-indicator2" value="0">
                            <label class="form-check-label" for="availability-indicator2">Nedostupná</label>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5>Indikátor růstu</h5>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorGrowth[]" class="form-check-input" type="checkbox" id="growth-indicator1" value="80">
                            <label class="form-check-label" for="growth-indicator1">Výrazný růst</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorGrowth[]" class="form-check-input" type="checkbox" id="growth-indicator2" value="60">
                            <label class="form-check-label" for="growth-indicator2">Růst</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorGrowth[]" class="form-check-input" type="checkbox" id="growth-indicator3" value="40">
                            <label class="form-check-label" for="growth-indicator3">Stagnace</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorGrowth[]" class="form-check-input" type="checkbox" id="growth-indicator4" value="20">
                            <label class="form-check-label" for="growth-indicator4">Propad</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input name="indicators_indicatorGrowth[]" class="form-check-input" type="checkbox" id="growth-indicator4" value="0">
                            <label class="form-check-label" for="growth-indicator4">Výrazný propad</label>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="section5" role="tabpanel" aria-labelledby="section5-tab">
                    <h4>Odvětví</h4>
                    <div class="form-section col-md-6 mt-2">
                        <h5 for="main-industry">Hlavní obor podnikání</h5>
                        <select name="naceCodes_primaryNaceCodes[]" id="main-industry" class="form-select" multiple>
                            {foreach $enums['nace'] as $key => $value}
                                <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="custom-category">Vlastní kategorie činnosti</h5>
                        <select name="basicInfo_selfDeclaredCategoryCodes[]" id="custom-category" class="form-select" multiple>
                            {foreach $enums['self_declared_categories'] as $key => $value}
                                <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <div class="form-check">
                            <input name="import_export" class="form-check-input" type="checkbox" id="international-trade">
                            <label class="form-check-label" for="international-trade">Mezinárodní obchod - Import/Export</label>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="section6" role="tabpanel" aria-labelledby="section6-tab">
                    <h4>Vlastnictví</h4>
                    <div class="form-section col-md-6 mt-2">
                        <h5 for="institutional-sector">Institucionální sektor</h5>
                        <select name="basicInfo_institutionalSectorCodes[]" id="institutional-sector" class="form-select" multiple>
                            {foreach $enums['institutional_sectors'] as $key => $value}
                                <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="international-ownership">Mezinárodní vlastnictví (podíl v %)</h5>
                        <div class="form-section">
                            <div class="row">
                                <div class="col">
                                    <label for="min-international-ownership">Min</label>
                                    <input name="metrics_ownershipInternationalPercentage[min]" type="number" class="form-control" id="min-international-ownership" >
                                </div>
                                <div class="col">
                                    <label for="max-international-ownership">Max</label>
                                    <input name="metrics_ownershipInternationalPercentage[max]" type="number" class="form-control" id="max-international-ownership">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="individual-ownership">Individuální vlastnictví (podíl v %)</h5>
                        <div class="form-section">
                            <div class="row">
                                <div class="col">
                                    <label for="min-individual-ownership">Min</label>
                                    <input name="metrics_ownershipIndividualPercentage[min]" type="number" class="form-control" id="min-individual-ownership" >
                                </div>
                                <div class="col">
                                    <label for="max-individual-ownership">Max</label>
                                    <input name="metrics_ownershipIndividualPercentage[max]" type="number" class="form-control" id="max-individual-ownership">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="known-owner">
                            <label class="form-check-label" for="known-owner">Známý vlastník</label>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <label for="known-owners-count">Počet známých vlastníků</label>

                        <div class="form-section">
                            <div class="row">
                                <div class="col">
                                    <label for="min-owners-tickmarks">Min</label>
                                    <input type="number" class="form-control" id="min-owners-tickmarks" >
                                </div>
                                <div class="col">
                                    <label for="max-owners-tickmarks">Max</label>
                                    <input type="number" class="form-control" id="max-owners-tickmarks">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="section7" role="tabpanel" aria-labelledby="section7-tab">
                    <h4>Dostupné kontakty</h4>
                    <div class="form-section col-md-6 mt-2">
                        <h5>Kontakty</h5>
                        <div class="form-check">
                            <input name="contacts_phone" class="form-check-input" type="checkbox" id="phone">
                            <label class="form-check-label" for="phone">Telefonní číslo</label>
                        </div>
                        <div class="form-check">
                            <input name="contacts_email" class="form-check-input" type="checkbox" id="email">
                            <label class="form-check-label" for="email">Emailová adresa</label>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5>Webová stránka a sociální sítě</h5>
                        <div class="form-check">
                            <input name="contacts_website" class="form-check-input" type="checkbox" id="website">
                            <label class="form-check-label" for="website">Webová stránka</label>
                        </div>
                        <div class="form-check">
                            <input name="contacts_linkedin" class="form-check-input" type="checkbox" id="linkedin">
                            <label class="form-check-label" for="linkedin">LinkedIn</label>
                        </div>
                        <div class="form-check">
                            <input name="contacts_facebook" class="form-check-input" type="checkbox" id="facebook">
                            <label class="form-check-label" for="facebook">Facebook</label>
                        </div>
                        <div class="form-check">
                            <input name="contacts_twitter" class="form-check-input" type="checkbox" id="twitter">
                            <label class="form-check-label" for="twitter">Twitter</label>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="section8" role="tabpanel" aria-labelledby="section8-tab">
                    <h4>Vozidla: první registrace</h4>
                    <div class="form-section col-md-6 mt-2">
                        <div class="row">
                            <div class="col">
                                <h5 for="min-vehicles">Min</h5>
                                <input name="vehicle_count[min]" type="number" class="form-control" id="min-vehicles" >
                            </div>
                            <div class="col">
                                <h5 for="max-vehicles">Max</h5>
                                <input name="vehicle_count[max]" type="number" class="form-control" id="max-vehicles">
                            </div>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <div class="row">
                            <div class="col">
                                <h5 for="registration-from">Registrace od</h5>
                                <input name="vehicle_firstEverRegisteredAt[min]" type="text" class="form-control" id="registration-from" readonly>
                            </div>
                            <div class="col">
                                <h5 for="registration-to">Registrace do</h5>
                                <input name="vehicle_firstEverRegisteredAt[max]" type="text" class="form-control" id="registration-to" readonly>
                            </div>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="category">Kategorie</h5>
                        <select name="vehicle_categoryCodes[]" id="category" class="form-select" multiple>
                            {foreach $enums['vehicle_category'] as $key => $value}
                                <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="brands">Značky</h5>

                        <select name="vehicle_makeCodes[]" id="brands" class="form-select" multiple style="height: 300px">
                            {foreach $enums['vehicle_makes'] as $key => $value}
                                <option value="{$key}">{$value}</option>
                            {/foreach}
                            <!-- Add more brand options here -->
                        </select>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="brands">Modely</h5>
                        <select name="vehicle_modelCodes[]" id="brands" class="form-select" multiple  style="height: 300px">
                            {foreach $enums['vehicle_models'] as $key => $value}
                                <option value="{$key}">{$value}</option>
                            {/foreach}
                            <!-- Add more brand options here -->
                        </select>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5>Příznaky</h5>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="elektromobil" value="Elektromobil">
                            <label class="form-check-label" for="elektromobil">Elektromobil</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="premium" value="Prémium">
                            <label class="form-check-label" for="premium">Prémium</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="elektrobus" value="Elektrobus">
                            <label class="form-check-label" for="elektrobus">Elektrobus</label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="cng" value="CNG">
                            <label class="form-check-label" for="cng">CNG</label>
                        </div>
                    </div>

                    <!-- Include Bootstrap JS bundle at the end of the body for better performance -->
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>


                </div>
                <div class="tab-pane fade" id="section9" role="tabpanel" aria-labelledby="section9-tab">
                    <h4>Náborová aktivita</h4>
                    <div class="form-section col-md-6 mt-2">
                        <h5 for="job-categories">Kategorie pracovních pozic</h5>
                        <select name="job-posting_categoryCodes[]" id="job-categories" class="form-select" multiple style="height: 400px">
                            {foreach $enums['job_posting_categories'] as $key => $value}
                                <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <div class="row">
                            <div class="col">
                                <h5 for="min-open-positions">Min</h5>
                                <input name="job-posting_count[min]" type="number" class="form-control" id="min-open-positions" >
                            </div>
                            <div class="col">
                                <h5 for="max-open-positions">Max</h5>
                                <input name="job-posting_count[max]" type="number" class="form-control" id="max-open-positions">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="section10" role="tabpanel" aria-labelledby="section10-tab">
                    <h4>Provozovny</h4>
                    <div class="form-section col-md-6 mt-2">
                        <h5 for="branch-categories">Kategorie provozoven</h5>
                        <select name="location_categoryCodes[]" id="branch-categories" class="form-select" multiple style="height: 200px">
                            {foreach $enums['location_categories'] as $key => $value}
                                <option value="{$key}">{$value}</option>
                            {/foreach}
                        </select>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="number-of-branches">Počet provozoven</h5>
                        <div class="form-section col-md-6 mt-2">
                            <div class="row">
                                <div class="col">
                                    <h5 for="min-branches">Min</h5>
                                    <input name="location_count[min]" type="number" class="form-control" id="min-branches" >
                                </div>
                                <div class="col">
                                    <h5 for="max-branches">Max</h5>
                                    <input name="location_count[max]" type="number" class="form-control" id="max-branches">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="section11" role="tabpanel" aria-labelledby="section11-tab">
                    <h4>Finance</h4>
                    <div class="form-section col-md-6 mt-2">
                        <label for="financial-statements">Finanční výkazy</label>
                        <select id="financial-statements" class="form-select" multiple>
                            <option>2013</option>
                            <option>2014</option>
                            <option>2015</option>
                            <option>2016</option>
                            <option>2017</option>
                            <option>2018</option>
                            <option>2019</option>
                            <option>2020</option>
                            <option>2021</option>
                            <option>2022</option>
                            <option>2023</option>
                        </select>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="revenue-growth">Růst obratu (v %)</h5>
                        <div class="form-section">
                            <div class="row">
                                <div class="col">
                                    <label for="min-growth">Min</label>
                                    <input name="metrics_metricRevenueGrowth[min]" type="number" class="form-control" id="min-growth" >
                                </div>
                                <div class="col">
                                    <label for="max-growth">Max</label>
                                    <input name="metrics_metricRevenueGrowth[max]" type="number" class="form-control" id="max-growth">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="net-margin">Čistá marže (v %)</h5>
                        <div class="form-section">
                            <div class="row">
                                <div class="col">
                                    <label for="min-margin">Min</label>
                                    <input name="metrics_metricNetProfitMargin[min]" type="number" class="form-control" id="min-margin" >
                                </div>
                                <div class="col">
                                    <label for="max-margin">Max</label>
                                    <input name="metrics_metricNetProfitMargin[max]" type="number" class="form-control" id="max-margin">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="ebit-margin">EBIT marže (v %)</h5>

                        <div class="form-section">
                            <div class="row">
                                <div class="col">
                                    <label for="min-ebit-margin">Min</label>
                                    <input name="metrics_metricEbitMargin[min]" type="number" class="form-control" id="min-ebit-margin" >
                                </div>
                                <div class="col">
                                    <label for="max-ebit-margin">Max</label>
                                    <input name="metrics_metricEbitMargin[max]" type="number" class="form-control" id="max-ebit-margin">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="value-added-ratio">Poměr přidané hodnoty k obratu (v %)</h5>
                        <div class="form-section">
                            <div class="row">
                                <div class="col">
                                    <label for="min-value-added-ratio">Min</label>
                                    <input name="metrics_metricValueAddedRatio[min]" type="number" class="form-control" id="min-value-added-ratio" >
                                </div>
                                <div class="col">
                                    <label for="max-value-added-ratio">Max</label>
                                    <input name="metrics_metricValueAddedRatio[max]" type="number" class="form-control" id="max-value-added-ratio">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="capital-intensity-ratio">Poměr kapitálové intenzity (aktiva k obratu v %)</h5>
                        <div class="form-section">
                            <div class="row">
                                <div class="col">
                                    <label for="min-capital-intensity-ratio">Min</label>
                                    <input name="metrics_metricCapitalIntensityRatio[min]" type="number" class="form-control" id="min-capital-intensity-ratio" >
                                </div>
                                <div class="col">
                                    <label for="max-capital-intensity-ratio">Max</label>
                                    <input name="metrics_metricCapitalIntensityRatio[max]" type="number" class="form-control" id="max-capital-intensity-ratio">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <h5 for="basic-capital">Základní kapitál v tisících Kč</h5>
                        <div class="form-section">
                            <div class="row">
                                <div class="col">
                                    <label for="min-basic-capital">Min</label>
                                    <input type="number" class="form-control" id="min-basic-capital" >
                                </div>
                                <div class="col">
                                    <label for="max-basic-capital">Max</label>
                                    <input type="number" class="form-control" id="max-basic-capital">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="section12" role="tabpanel" aria-labelledby="section12-tab">
                    <h4>Osobní kontakty</h4>
                    <div class="form-section col-md-6 mt-2">
                        <h5>Kontakty</h5>
                        <div class="form-check">
                            <input name="person_phone" class="form-check-input" type="checkbox" id="phone">
                            <label  class="form-check-label" for="phone">Telefonní číslo</label>
                        </div>
                        <div class="form-check">
                            <input name="person_email" class="form-check-input" type="checkbox" id="email">
                            <label class="form-check-label" for="email">Emailová adresa</label>
                        </div>
                    </div>

                    <div class="form-section col-md-6 mt-2">
                        <div class="row">
                            <div class="col">
                                <h5 for="min-open-positions">Min</h5>
                                <input name="person_count[min]" type="number" class="form-control" id="min-open-positions" >
                            </div>
                            <div class="col">
                                <h5 for="max-open-positions">Max</h5>
                                <input name="person_count[max]" type="number" class="form-control" id="max-open-positions">
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</form>